*.dep
*.depend
*.lo
*.la
cscope.*
tags
*.taghl
*.o
*.d
*.elf
*.bin
*.img
*.obj
*.ncb
*.suo
ts_map.*
*.ncb
*.suo
*.user
*.map
*.sh
Daphne_Demo.layout
Debug/
release/
*\357\200\215.s\357\200\215
Demo-1.0.0-Pach9/montage-tech/config_prj/core/core_canna/core_canna_drv_open/core_canna_drv_open.layout
Demo-1.0.0-Pach9/montage-tech/config_prj/core/core_canna/core_canna_except_open/core_canna_except_open.layout
Demo-1.0.0-Pach9/montage-tech/config_prj/core/core_canna/core_canna_mdl_ap_open/core_canna_mdl_ap_open.layout
Demo-1.0.0-Pach9/montage-tech/config_prj/dvbc/jazz/Daphne/Demo/Daphne_Demo_ota/Daphne_Demo_ota/Daphne_Demo_ota.layout
Demo-1.0.0-Pach9/montage-tech/config_prj/core/core_canna/core_canna_drv_open/bin/
Demo-1.0.0-Pach9/montage-tech/config_prj/core/core_canna/core_canna_except_open/bin/
Demo-1.0.0-Pach9/montage-tech/config_prj/core/core_canna/core_canna_mdl_ap_open/bin/
Demo-1.0.0-Pach9/montage-tech/config_prj/core/core_canna/libcore_canna.a
Demo-1.0.0-Pach9/montage-tech/config_prj/core/core_canna/libcore_canna_drv_open.a
Demo-1.0.0-Pach9/montage-tech/config_prj/core/core_canna/libcore_canna_except_open.a
Demo-1.0.0-Pach9/montage-tech/config_prj/core/core_canna/libcore_canna_mdl_ap_open.a
Demo-1.0.0-Pach9/montage-tech/lib/jazz/libcore_canna.a
Demo-1.0.0-Pach9/montage-tech/lib/win32/x86_prebuild_open.lib
Demo-1.0.0-Pach9/montage-tech/prj/dvbc/Daphne_Nongwang/Resource/Resource/materials/palette/Thumbs.db
Demo-1.0.0-Pach9/montage-tech/prj/dvbc/Daphne_Nongwang/Resource/Resource/b2t/rsc.h
Demo-1.0.0-Pach9/montage-tech/prj/dvbc/Daphne_Nongwang/Resource/Resource/b2t/rsc2.bin.gz
Demo-1.0.0-Pach9/montage-tech/prj/dvbc/Daphne_Nongwang/Resource/Resource/jazz_nongwang_stb_szxc/
